*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    /*
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    */
}

:root {
    --tomato: #ff6347;
    --green: #66cdaa;
    --yellow: #fcffb3bd;
    --dirt: #efead5;
    --pink: #ffc9b3;
    --aqua: #e3ffef;
    --grey: #303030;
    --black: #111111;
    --white: #ffffff;

}

body {
    background-color:var(--white);
    transition: background-color 1s ease;
  }
 

.wrapper{
    height: 100vh;

}  

.nav{
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
}

.nav-list{
    flex-grow: 1;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style: none;
}

.nav-list-item{
    padding-left: 40px;

}


.nav-list-item a{
    align-self: center;
    color: var(--grey);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 10px;
}

.nav-list-item a:hover{
    color: var(--green);
    text-decoration: none;
}

#name{
    flex-grow: 1;
    justify-self: start;
    font-size: 10px;
    padding-left: 0%;
    align-self: flex-end;
    letter-spacing: 3px;
    transition: 2s letter-spacing ease-in-out;
}

#name:hover {
    letter-spacing: 4px;
    color: var(--tomato);
}


.header{
    height: 50vh;
}

.personal{
    display: flex;
    color: var(--white);
    width: 100vw;
    height: 100px;
    margin-top: 200px;
    padding-left: 40px;
    text-align: left;
    font-size: 80px;
    letter-spacing: 40px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--black);
}

.personal:hover .fill{
    color: var(--black);
    width: 100%;
    height: 100%;
    letter-spacing: 45px;
}

.fill{
    flex-grow: 1;
    background-color: var(--aqua);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--black);
    height: 0%;
    width: 0%;
    transition: 2s all linear;
}

.personal2{
    display: flex;
    color: var(--white);
    width: 100vw;
    height: 100px;
    margin-top: 50px;
    padding-left: 80px;
    text-align: left;
    font-size: 80px;
    letter-spacing: 40px;
}  

.fill2{
    flex-grow: 1;
    background-color: rgba(102, 205, 170, 0.3);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--black);
    height: 0%;
    width: 0%;
    transition: 2s all linear;

}

.personal2:hover .fill2{
    color: var(--black);
    width: 100%;
    height: 100%;
    letter-spacing: 45px;
    }

.scroll{
    font-size: 10px;
    float: left;
    min-width: 20%;
    padding-left: 40px;
    padding-top: 130px;
    letter-spacing: 3px;
}

.panel {
    min-height: 100vh;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
  }

  .color-violet {
    background-color: var(--pink);
  }
  .color-indigo {
    background-color: var(--aqua);
  }
  .color-blue {
    background-color: var(--yellow);
  }
  .color-green {
    background-color: var(--green);
  }
  .color-tomato {
    background-color: var(--tomato);
  }
  .color-orange {
    background-color: #F19031;
  }
  .color-red {
    background-color: #F2293A;
  }
  

.hijo{
    align-self: center;
}

.hijo p{
    width: 170px;
    font-size: 12px;
    color: var(--black);
    padding:10px;
    background-color: var(--white);
    position: absolute;
    z-index: 2;
    margin-left: 450px;
    margin-top: 210px;
}

.hijo .p2{
    width: 373px;
    font-size: 12px;
    color: var(--black);
    background-color: var(--white);
    margin-left: 35px;
    margin-top: 240px;
}

.hijo .p3{
    width: auto;
    font-size: 12px;
    color: var(--black);
    background-color: var(--white);
    margin-left: 713px;
    margin-top: 240px;
}


.overflow{
    width: 1000px;
    height: 450px;
    border: 2px solid var(--black);
    overflow: hidden;

}


section{
    width: 900px;
    margin-left:0px;
    margin-top: 150px;
    position: absolute;
    overflow: hidden;
}

section .inside{
    width: 100%;
    display: flex;
    animation: animate 20s linear infinite;

}


section .inside div{
    color: var(--black);
    white-space: nowrap;


}

@keyframes animate{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}



@keyframes moverBg{
    from{
        transform: translate(-250px);

    }

    to{
        transform: translate(200px);


    }
}

.overflow2{
    width: 1000px;
    height: 400px;
    border: 2px solid var(--black);
    overflow: hidden;

}

.image1{
    position: absolute;
    margin: -40px -180px;

}

.image2{
    position: absolute;
    width: 1000px;
    margin: 80px 80px;
}

.image3{
    position: absolute;
    transition: 10s transform linear;
    margin-left:-250px;
}

.image3:hover{
    transform: rotate(360deg);

}
.image4{
    width: 400px;
    position: absolute;
    margin: 20px -80px 0;

}

h1{
    font-size: 80px;
    color: var(--black);
    position: absolute;
    margin-top: 20px;
    margin-left:350px;
    z-index: 1;
    text-decoration: none;
}

h1:hover{
    text-decoration: underline;
    position: absolute;
    z-index: 1;

}

h1:hover::after {
    width: 100%;
  }

h1::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
  }

#other-side{
    font-size: 80px;
    color: var(--black);
    position: absolute;
    margin-top: 20px;
    margin-left:180px;
    z-index: 1;
    text-decoration: none;
}

#other-side:hover{
    text-decoration: underline;
    position: absolute;
    z-index: 1;

}

#other-side:hover::after {
    width: 100%;
  }

#other-side::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
  }

  .number{
    position: absolute;
    margin: -120px 450px;
    height: 100px;
    z-index: 10;
}
.number2{
    position: absolute;
    margin: -120px 350px;
    height: 100px;
    z-index: 4;
}
.number3{
    position: absolute;
    margin: -120px -10px;
    height: 100px;
    z-index: 4;
}

.button{
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: var(--black);
    text-align: center;
    margin-top: 210px;
    margin-left: 750px;
    padding: 12px;
    text-decoration: none;
    color: var(--pink);
}

.button:hover{
    background-color: var(--tomato);
}

.button2{
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: var(--black);
    text-align: center;
    margin-top: 150px;
    margin-left: 255px;
    padding: 12px;
    text-decoration: none;
    color: var(--pink);
}

.button2:hover{
    background-color: var(--tomato);
}

.button3{
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: var(--black);
    text-align: center;
    margin-top: 150px;
    margin-left: 385px;
    padding: 12px;
    text-decoration: none;
    color: var(--pink);
}

.button3:hover{
    background-color: var(--tomato);
}

.grilla{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-auto-rows: minmax(100px, auto);
    margin: 0;
    padding:0;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .two { 
    border: 3px solid black;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .two img{ 
    width: 30%;
    padding: 100px 50px;

    }

  .three {
    grid-column: 1;
    grid-row: 2 / 5;
    }

  .three img{
    width:150%;
    }
  .four {
    margin-bottom: 200px;
    width: 400px;
    font-size: 12px;
    grid-column: 3;
    grid-row: 3;
  }

  .four:hover{
      color: var(--aqua);
  }
  .four2 {
    width: 800px;
    margin-left: 200px;
    margin-top: 100px;
    font-size: 12px;
    grid-column: 3;
    grid-row: 3;
  }

  .six {
    margin-top: 200px;
    grid-column: 3;
    grid-row: 4;
    display: flex;
    align-items: flex-start;
  }

  .six img{
      width: 100%;
  }

  .seven{
   margin-top: 400px;
   }

#form{
    display: flex;
    flex-direction: row;
    }

.paises{
    font-size: 12px;
    padding-left: 40px;
    flex-grow: 1;
    align-self: center;
    }

input[type=email] {
    align-self: center;
    flex-grow: 1;
    height: auto;
    color: #d6d6d6;
    /*-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--black);*/
    font-size: 70px;
    border: none;
    }
 
input[type=submit] {
    font-size: 12px;
    align-self: center;
    flex-grow: 1;
    padding: 20px;
    border: none;
    background-color:var(--white);
    cursor: pointer;
    }

footer{
    height: 100px;
    }

.footer-list{
    display: flex;
    background-color: var(--black);
    }

 .footer-list-item{
    flex-grow: 1;
    list-style: none;
    padding-bottom: 5px;
    text-align: center;
    }

.footer-list-item a{
    font-size: 10px;
    color: var(--aqua);
    text-decoration: none;
    }
    
    @media only screen and (max-width: 767px){

        .header{
            height: 50vh;
        }
        
        .nav{
            width: 90vw;
            position: fixed;
            top: 0;
            display: flex;
        }
        .scroll{
            font-size: 10px;
            float: left;
            min-width: 20%;
            padding-left: 40px;
            padding-top: 70px;
            letter-spacing: 3px;
        }

        .personal{
            display: flex;
            color: var(--white);
            width: 90vw;
            margin-top: 110px;
            padding-left: 40px;
            text-align: left;
            font-size: 80px;
            letter-spacing: 40px;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: var(--black);
        }

        .personal:hover .fill{
            color: var(--black);
            width: 100%;
            height: 100%;
            letter-spacing: 45px;
        }

        .fill{
            flex-grow: 1;
            background-color: var(--aqua);
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: var(--black);
            height: 0%;
            width: 0%;
            transition: 2s all linear;
        }

        .personal2{
            display: flex;
            color: var(--white);
            width: 90vw;
            margin-top: 50px;
            padding-left: 80px;
            text-align: left;
            font-size: 80px;
            letter-spacing: 40px;
        }  

        .fill2{
            flex-grow: 1;
            background-color: rgba(102, 205, 170, 0.3);
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: var(--black);
            height: 0%;
            width: 0%;
            transition: 2s all linear;
        
        }

        .personal2:hover .fill2{
            color: var(--black);
            width: 100%;
            height: 100%;
            letter-spacing: 45px;
            }

        .button{
            position: absolute;
            width: 150px;
            height: 50px;
            background-color: var(--black);
            text-align: center;
            margin-top: 210px;
            margin-left: 600px;
            padding: 12px;
            text-decoration: none;
            color: var(--pink);
        }
    }
    
    @media only screen and (max-width: 479px){
        
        .panel {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
          }
          
        .nav{
            width: 70vw;
            position: fixed;
            top: 0;
            display: flex;
        }
        .scroll{
            font-size: 10px;
            float: left;
            min-width: 20%;
            padding-left: 40px;
            padding-top: 30px;
            letter-spacing: 3px;
        }

        .personal{
            display: flex;
            color: var(--white);
            margin-top: 200px;
            padding-left: 40px;
            text-align: left;
            font-size:36px;
            letter-spacing: 15px;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: var(--black);
        }


        .personal:hover .fill{
            color: var(--black);
            width: 100%;
            height: 100%;
            letter-spacing: 20px;
        }

        .fill{
            flex-grow: 1;
            background-color: var(--aqua);
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: var(--black);
            height: 0%;
            width: 0%;
            transition: 2s all linear;
        }
        .personal2{
            display: flex;
            color: var(--white);
            margin-top: 10px;
            padding-left: 36px;
            text-align: left;
            font-size: 36px;
            letter-spacing: 15px;
        }  

        .fill2{
            flex-grow: 1;
            background-color: rgba(102, 205, 170, 0.3);
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: var(--black);
            height: 0%;
            width: 0%;
            transition: 2s all linear;
        
        }

        .personal2:hover .fill2{
            color: var(--black);
            width: 100%;
            height: 100%;
            letter-spacing: 20px;
            }

        .button{
            position: absolute;
            width: 150px;
            height: 50px;
            background-color: var(--black);
            text-align: center;
            margin: 400px 197px;
            padding: 12px;
            text-decoration: none;
            color: var(--pink);
        }
        .button2{
            position: absolute;
            width: 150px;
            height: 50px;
            background-color: var(--black);
            text-align: center;
            margin-top: 380px;
            margin-left: 0;
            padding: 12px;
            text-decoration: none;
            color: var(--pink);
        }
        .button3{
            position: absolute;
            width: 150px;
            height: 50px;
            background-color: var(--black);
            text-align: center;
            margin: 10px 148px 0;
            padding: 12px;
            text-decoration: none;
            color: var(--pink);
        }
        

        h1{
            font-size: 40px;
            color: var(--black);
            position: absolute;
            margin-top: 50px;
            margin-left: 70px;
            z-index: 1;
            text-decoration: none;
        }
        .hijo p{
            width: 170px;
            font-size: 12px;
            color: var(--black);
            padding:10px;
            background-color: var(--white);
            position: absolute;
            z-index: 2;
            margin-left: 130px;
            margin-top: -150px;
        }
        

        .hijo .p2{
            width: 250px;
            font-size: 12px;
            color: var(--black);
            background-color: var(--white);
            margin-left: 70px;
            margin-top: -20px;
        }
        
        .hijo .p3{
            width: auto;
            font-size: 12px;
            color: var(--black);
            background-color: var(--white);
            margin:0;
        }
        

        .overflow{
            width: 350px;
            height: 500px;
            border: 2px solid var(--black);
            overflow: hidden;
            margin-top:-200px;
        
        }
        

        section{
            width: 260px;
            margin-left:0px;
            margin-top: 150px;
            position: absolute;
            overflow: hidden;
        }

        .overflow2{
            width: 300px;
            height: 500px;
            border: 2px solid var(--black);
            overflow: hidden;
            margin-top:-300px;
        
        }

        .image1{
            position: absolute;
            width: 400px;
            margin-left: -50px;
        }

        .image2{
            display: none;
            /*
            position: absolute;
            width: 400px;
            margin: 10px;*/
        }

        .image3{
            display: none;/*
            position: absolute;
            width: 100vw;
            margin:125px 0;
            transition: 10s transform linear;*/
        }

        .image4{
            position: absolute;
            width: 200px;
            margin-left: -50px;
        }

        .number{
            position: absolute;
            margin:-250px 0 0 20px;
            height: 100px;
            z-index: 10;
        }
        .number2{
            position: absolute;
            margin: -320px 220px;
            height: 100px;
            z-index: 4;
        }

        #other-side{
            font-size: 80px;
            color: var(--black);
            position: absolute;
            margin-top: -150px;
            margin-left: 73px;
            z-index: 1;
            text-decoration: none;
        }

        #form{
            display: none;
            /*display: flex;
            flex-direction: row;
            */
            }
        
        .paises{
            font-size: 12px;
            padding-left: 40px;
            flex-grow: 1;
            align-self: center;
            }
        
        input[type=email] {
            align-self: center;
            flex-grow: 1;
            height: auto;
            color: #d6d6d6;
            font-size: 30px;
            border: none;
            }
        
        input[type=submit] {
            font-size: 12px;
            align-self: center;
            flex-grow: 1;
            padding: 20px;
            border: none;
            background-color:var(--white);
            cursor: pointer;
            }
            footer{
                
                }


    

        
    }
    